<% include ../partials/header %>

<h1> Create a new deck </h1>

<form action="/decks" method="POST">
  <input type="text" name="name" placeholder="name">
  <button>Submit</button>
</form>

<% include ../partials/footer %>